<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HTTPDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6F13CEB1D583069002C5600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6F13D041D58306A002C5600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6F13D0F1D58306A002C5600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
